version: '2'

volumes:
  dhcp-data:

services:
  utils:
    build: ./utils
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW  
 
  router-admin:
    build: ./router-admin
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "10.0.0.1:10000:10000"

  router-config:
    build: ./router-config
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    environment: 
      - WAN_IF_MAC=<MAC_HERE>
      - LAN_IF_MAC=<MAC_HERE>
      - LAB_IF_MAC=<MAC_HERE>  
    
  dhcp:
    build: ./dhcp
    network_mode: host 
    cap_add:
      - NET_ADMIN
      - NET_RAW    
    ports:
      - "53:53/udp"
      - "67:67/udp"
      - "68:68/udp"

  ddns:
    build: ./ddns
    network_mode: host 
    environment: 
      - DUCKDNS_TOKEN=<TOKEN>
      - DUCKDNS_DOMAINS=<HOST>
      - DUCKDNS_INTERVAL=5
      - LOG_DIR=/app/duckdns



    